*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
.idea/
.idea_modules/
.idea/*
build/*.jar
.settings
.cache
cache
.generated-mima*
out/
.DS_Store
target/
target/*
reports/
.project
.classpath
project/boot/
project/plugins/project/build.properties
project/build/target/
project/plugins/target/
.ensime
.ensime_lucene
checkpoint
derby.log
dist/
unit-tests.log
src/main/resources/com/intel/chimera/native/
src/main/resources/com/intel/chimera/native/*
.externalToolBuilders/*
maven-eclipse.xml
/libcrypto.dylib
